<!DOCTYPE html>
<html lang="en" ng-app="redTomatoes">
<head>
  <title>Redtomatoes</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-view>
	<%= yield %>
</div>
  <%= javascript_include_tag "application" %>
</body>
</html>
